/*
/*/
!.bashrc
!.config/
.config/*
!/.config/dunst/
!.config/gtk-3.0/
!.config/i3/
!.config/pcmanfm/
!.config/polybar/
!.config/pulse/
.config/pulse/*
!.config/pulse/equalizerrc
!.config/rofi/
!.config/termite/
!.config/youtube-dl.conf

!.fonts/
!.gitignore
!.gtkrc-2.0.mine
!.icons/
.icons/*/*
!.octaverc
!.vim/
!.vimrc
!.xinitrc
!.zshrc

#!.config/
#!.config/cmus/
#!.config/cmus/solarized.theme
#!.config/dunst/
#!.config/dunst/dunstrc
#!.config/dunst/dunstrc.bak
#!.config/gtk-3.0/
#!.config/gtk-3.0/gtk.css
#!.config/gtk-3.0/settings.ini
#!.config/i3/
#!.config/i3/cmus_playing_status.sh
#!.config/i3/status_config_top.toml
#!.config/i3/config
#!.config/i3/cmus.sh
#!.config/pcmanfm/
#!.config/pcmanfm/default/
#!.config/pcmanfm/default/pcmanfm.conf
#!.config/pcmanfm/default/desktop-items-0.conf
#!.config/polybar/
#!.config/polybar/config
#!.config/polybar/cmus.sh
#!.config/rofi/
#!.config/rofi/config
#!.config/termite/
#!.config/termite/config
#!.config/youtube-dl.conf

#!.bashrc
#!.fonts
#!.fonts/*
#!.gitignore
#!.gtkrc-2.0.mine
#!/.icons
#!.octaverc
#!.vim/
#!.vim/autoload/
#!.vim/autoload/*
#!.vim/bundle/
#!.vim/bundle/*
#!.vim/ultisnips/
#!.vim/ultisnips/*
#!.vimrc
#!.xinitrc
#!.zshrc
