/*
/*/
!.bashrc
!.config/
.config/*
!/.config/cmus/
/.config/cmus/*
!/.config/cmus/solarized.theme
!/.config/dunst/
!.config/gtk-3.0/
!.config/i3/
!.config/pcmanfm/
!.config/polybar/
!.config/pulse/
.config/pulse/*
!.config/pulse/equalizerrc
!.config/rofi/
!.config/termite/
!.config/youtube-dl.conf

!.fonts/
!.gitignore
!.gtkrc-2.0.mine
!.icons/
.icons/*/*
!.octaverc
!.vim/
!.vimrc
!.xinitrc
!.zshrc
