/*
/*/
!.bashrc
!.config/
.config/*
!/.config/cmus/
/.config/cmus/*
!/.config/cmus/solarized.theme
!/.config/cmus/playlists/
!/.config/cmus/playlists/*
!/.config/dunst/
!.config/gtk-3.0/
!.config/i3/
!.config/pcmanfm/
!.config/polybar/
!.config/pulse/
.config/pulse/*
!.config/pulse/equalizerrc
!.config/rofi/
!.config/termite/
!.config/youtube-dl.conf
!.fonts/
!.gitignore
!.gtkrc-2.0.mine
!.octaverc
!.vim
.vim/bundle/AutoComplPop
!.vimrc
!.xinitrc
!.zshrc
